main {
  min-height: 90vh;
  /* display: grid;
  grid-template-rows: 1fr 2fr 1fr; */
}

.rating span {
  margin: 0.1rem
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
  margin-bottom: 25px;
}

.carousel-caption h2 {
  color: #fff;
  
}

.carousel img {
  height: 350px;
  padding-top: 30px;
  margin: 60px 0;
}

.carousel a {
  margin: 0 auto;
}

footer {
  padding: 2rem;
  color: #fff;
  font-size: 1.2rem;
}

.error {
	width: 100%;
	height: auto;
	margin: 50px auto;
	text-align: center;
	margin-bottom: 0;
}

.error h1 {
  font-size: 200px;
}

.error p {
  font-size: 24px;
  margin-bottom: 2rem;
}

